{{ 'custom-about.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rich-text__text * {
    letter-spacing: {{ block.settings.spacing_range }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="main-about-container">
  <div class="about-rich-text-section-container isolate{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="section-content rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
      <div class="about-rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
        <div class="about-rich-text__blocks {{ section.settings.content_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'pill' -%}
                <div style="background-color: {{ block.settings.pill_color }};" class="about-pill">
                  <p style="margin: 0; color: {{ block.settings.pill_text_color }};">{{ block.settings.pill_text }}</p>
                </div>
              {%- when 'heading' -%}
                <p class="about-heading-container">
                  <span style="color: {{ block.settings.heading_block_color_1 }}">{{ block.settings.heading_block_1 }}</span>
                  <span style="color: {{ block.settings.heading_block_color_2 }}">{{ block.settings.heading_block_2 }}</span>
                  <span style="color: {{ block.settings.heading_block_color_3 }}">{{ block.settings.heading_block_3 }}</span>
                  <span style="color: {{ block.settings.heading_block_color_4 }}">{{ block.settings.heading_block_4 }}</span>
                </p>
              {%- when 'caption' -%}
                <p
                  class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                  {% endif %}>
                  {{ block.settings.caption | escape }}
                </p>
              {%- when 'text' -%}
                <div
                  class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                  {% endif %}>
                  {{ block.settings.text }} {{ block.settings.spacing_range }}
                </div>
              {%- when 'button' -%}
                <div style="background: {{ block.settings.button_color }};" class="about-rich-text__buttons">
                  {%- if block.settings.button_label != blank -%}
                    <a
                      style="color: {{ block.settings.button_text_color }}; font-weight: {{ block.settings.button_font_weight }}; padding: 0"
                      {% if block.settings.button_link == blank %}
                      role="link"
                      aria-disabled="true"
                      {% else %}
                      href="{{ block.settings.button_link }}"
                      {% endif %}>
                      {{- block.settings.button_label | escape -}}
                    </a>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
  <div class="about-images-container">
    {% for block in section.blocks %}
      <div class="about-image-1">
        {% if block.settings.image_1 == blank %}
          <span class="about-no-image">Image 1</span>
        {% else %}
          {{ block.settings.image_1 | image_url: width: 600 | image_tag: class: 'about-image-file', loading: 'lazy' }}
        {% endif %}
      </div>
      <div class="about-image-2">
        {% if block.settings.image_2 == blank %}
          <span class="about-no-image">Image 2</span>
        {% else %}
          {{ block.settings.image_2 | image_url: width: 600 | image_tag: class: 'about-image-file', loading: 'lazy' }}
        {% endif %}
      </div>
      <div class="about-image-3">
        {% if block.settings.image_3 == blank %}
          <span class="about-no-image">Image 3</span>
        {% else %}
          {{ block.settings.image_3 | image_url: width: 600 | image_tag: class: 'about-image-file', loading: 'lazy' }}
        {% endif %}
      </div>
      <div class="about-image-4">
        {% if block.settings.image_4 == blank %}
          <span class="about-no-image">Image 4</span>
        {% else %}
          {{ block.settings.image_4 | image_url: width: 600 | image_tag: class: 'about-image-file', loading: 'lazy' }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.rich-text.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "blocks": [
      {
        "type": "pill",
        "name": "Title pill",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "pill_text",
            "default": "Talk about your brand",
            "label": "Pill text"
          }, {
            "type": "color",
            "id": "pill_color",
            "default": "#106572",
            "label": "Pill color"
          }, {
            "type": "color",
            "id": "pill_text_color",
            "default": "#FFFFFF",
            "label": "Pill text color"
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "header",
            "content": "Text block 1"
          },
          {
            "type": "textarea",
            "id": "heading_block_1",
            "default": "Talk about your brand",
            "label": "Text"
          },
          {
            "type": "color",
            "id": "heading_block_color_1",
            "default": "#9D2B2B",
            "label": "Text color"
          },
          {
            "type": "header",
            "content": "Text block 2"
          }, {
            "type": "textarea",
            "id": "heading_block_2",
            "default": "Talk about your brand",
            "label": "Text"
          }, {
            "type": "color",
            "id": "heading_block_color_2",
            "default": "#000000",
            "label": "Text color"
          }, {
            "type": "header",
            "content": "Text block 3"
          }, {
            "type": "textarea",
            "id": "heading_block_3",
            "default": "Talk about your brand",
            "label": "Text"
          }, {
            "type": "color",
            "id": "heading_block_color_3",
            "default": "#9D2B2B",
            "label": "Text color"
          }, {
            "type": "header",
            "content": "Text block 4"
          }, {
            "type": "textarea",
            "id": "heading_block_4",
            "default": "Talk about your brand",
            "label": "Text"
          }, {
            "type": "color",
            "id": "heading_block_color_4",
            "default": "#9D2B2B",
            "label": "Text color"
          }
        ]
      },
      {
        "type": "caption",
        "name": "t:sections.rich-text.blocks.caption.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "default": "Add a tagline",
            "label": "t:sections.rich-text.blocks.caption.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
          }, {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
              }, {
                "value": "medium",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
              }, {
                "value": "large",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#F7C156"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "default": "#000000"
          }, {
            "type": "select",
            "id": "button_font_weight",
            "label": "Button text weight",
            "default": "bold",
            "options": [
              {
                "value": "normal",
                "label": "Normal"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }
        ]
      }, {
        "type": "image_picker",
        "name": "Images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          }, {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About with images",
        "blocks": [
          {
            "type": "pill"
          }, {
            "type": "heading"
          }, {
            "type": "button"
          }, {
            "type": "image_picker"
          }
        ]
      }
    ]
  }
{% endschema %}