{{ 'custom-products-cards.css' | asset_url | stylesheet_tag }}

<div class="product-cards-main-container shopify-section">
  <p class="products-heading">{{ section.settings.heading_text }}</p>

  <div class="cards-container">
    {% for block in section.blocks %}
      {% if block.settings.store_collection %}
        <a
          {% if block.settings.store_collection.url == blank %}
          role="link"
          aria-disabled="true"
          {% else %}
          href="{{ block.settings.store_collection.url }}"
          {% endif %}>
          <div class="card-content">
            {% if block.settings.background_image %}
              <img class="card-content-background" src="{{ block.settings.background_image | image_url: width: 450 | image_tag: loading: 'lazy' }}">
            {% else %}
              <span class="card-content-no-background"></span>
            {% endif %}
            <div class="product-card-collection-image">
              {% if block.settings.store_collection.image %}
                {{ block.settings.store_collection.image | image_url: width: 450 | image_tag: loading: 'lazy' }}
              {% endif %}
            </div>
            <p>{{ block.settings.store_collection.title }}</p>
          </div>
        </a>
      {% else %}
        <div class="product-card">
          Product card
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collections cards",
    "class": "section",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading",
        "default": "Heading example"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Product card",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Card background image"
          }, {
            "type": "collection",
            "id": "store_collection",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection cards",
        "blocks": [
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }, {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}